[mysqld]
user = root
datadir = /app/mysql
port = 3306
log-bin = /app/mysql/mysql-bin
bind-address     = 0.0.0.0

skip-host-cache
skip-name-resolve
symbolic-links=0


max_allowed_packet = 265M
wait_timeout = 6000
max_connections = 200
thread_cache_size = 16
key_buffer_size = 512M
query_cache_size =0
query_cache_type =0
query_cache_limit = 16M
join_buffer_size = 512K
innodb_file_per_table       = 1
innodb_buffer_pool_size = 256M
innodb_log_file_size =128M
innodb_buffer_pool_instances = 1
innodb_log_buffer_size = 2M
long_query_time             = 1

[mysqldump]
max_allowed_packet = 256M